#sideleft {
    float: left;
    width: 15%;
    min-height: 100%;
    text-align: left;
    padding:30px;
    background: lightpink;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(87, 87, 87, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FCFC08;
}
#headerbox {
    float: left;
    width: 100%;
    min-height: 5%;
    text-align: left;
    padding:30px;
    background: lightpink;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(87, 87, 87, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FCFC08;
}
#main
{
    float: right;
    text-align: left;
    width: 70%;
    margin-right: 15%;
}
#pad0
{
    padding: 10px;
}
#pad1
{
    text-indent: 20px;
}
body{
    background-color: #416CB1;
}
#notebook-container{
    background-color: #135728;
}
#sideleft a {
    text-decoration: underline;
    color: #135728;
}
div.text_cell_render {
    color: #FCFC08;

}